include LICENSE
include README.md
include pyproject.toml
recursive-include raydp/jars *.jar
recursive-include java *.java *.scala *.xml
recursive-include solstice/webui/templates *.html
recursive-include solstice/webui/static *.css *.js *.json


